body {
  background-color: rgb(49, 49, 49);
  color: aliceblue;
  font-size: 20px;
  line-height: 30px;
  margin: 0 200px;
}

.home-icon {
  top: 20px;
  left: 20px;
  z-index: 1000;
}

a {
  color: aquamarine;
  text-decoration: none;
}

a:hover {
  color: aliceblue;
}

a:active {
  color: aqua;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: 25x;
  font-weight: 500;
}

img {
  display: block;
  margin: 0 auto;
}

#homepage-list {
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  list-style: none;
  line-height: 50px;
  text-align: center;
}
